h1 {
  font-family: sans-serif;
  font-style: italic;
}
body {
  text-align: center;
  background-image: url(images/P2.jpeg);
  background-size: cover;
}
.card {
  text-align: center;
  margin-top: 50px;
  /* width: 50%; ;  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* flex: 30%; */
  padding: 5px;
  height: 70vh;
  align-items: center;
}
.project {
  img-align: center;
  float: right;
  width: 0%;
  padding: 0 0px;
  vertical-align: baseline;
  vertical-height: 100vh margin-top;
}
.projects {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
nav > a {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
nav {
  text-align: center;
  font-size: 22px;
}
a:link {
  color: white;
}

a:visited {
  color: rgb(89, 6, 106);
}

a:hover {
  color: blue;
}
