body {
}
.head {
  padding: 0;
  margin: 0;
  font-family: "josefin Sans", sans-serif;
  box-sizing: border-box;
  background-image: url(Images/photo-1521133573892-e44906baee46.avif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(photo-1521133573892-e44906baee46.avif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
}
.card {
  text-align: center;
  margin-top: 50px;
  /* width: 50%; ;  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* flex: 30%; */
  padding: 5px;
  height: 70vh;
  align-items: center;
}
.project {
  img-align: center;
  float: right;
  width: 75%;
  padding: 0 10px;
  vertical-align: baseline;
  vertical-height: 100vh margin-top;
}
.skills {
  text-align: center;
  margin-top: 50px;

  display: flex;
  justify-content: space-around;

  padding: 5px;
}
.projects {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.card-text {
  font-size: 24px;
}
.card-title {
  color: indigo;
}
